// font
$font-default: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, sans-serif;

// size
$m-padding : 18px;
$place-header-height : 48px;
$place-tab-height : 48px;
$header-height : $place-header-height + $place-tab-height;
$border-box-area-height : 70px;